
<div id="header">
	<h1>Cat Roulette</h1>

	<p id="about-link"><%= link_to "About", about_path %></p>
</div>

<div class="my-flipster">
  <ul class="flip-items" id="cat-carousel">
  	<% @metadata.each do |cat| %>

    	<li>
    		<div class="cat-div">
	    		<img src="<%= get_post_image_url(cat) %>" class="cat-pic" />
	    		<p class="image-post-data">Provided by <a href="<%= get_post_url(cat) %>" target="_blank"><%= get_post_blog_name(cat) %></a></p>
	    	</div>
    	</li>

  	<% end %>

  </ul>

</div>

<div id="button-holder">
	<button type="button" id="wheel-spin" class="noselect">Spin the Wheel</button>
</div>


<script>
	var flipContainer = $('.my-flipster'),
	    flipItemContainer = flipContainer.find('.flip-items'),
	    flipItem = flipContainer.find('li');

	flipContainer.flipster({
	  itemContainer: flipItemContainer,
	  itemSelector: flipItem,
	  loop: 2,
	  start: 2,
	  style: 'infinite-carousel'
	});

	var spinTheWheel = function(minSpins){
		steps = Math.floor(Math.random() * 20) + minSpins;
		for (var i = 1; i <= steps; i++) {
		    setTimeout(function() { 
		    	flipContainer.flipster('next'); 
		    }, 
		    150 * i );
		}
	};

	var getReplacementImageData = function(url){
		var output;
		var scriptURL = url;
		$.ajax({
			url: scriptURL,
			type: 'get',
			dataType: 'json',
			async: false,
			success: function(data){
				output = data;
			}
		});

		return output;
	};

	var replaceImage = function(targetPos, imageUrl){
		$("ul li:nth-child(" + targetPos + ") div div img").replaceWith('<img src=' + imageUrl + ' class="cat-pic">')
	}

	var replaceBlogInfo = function(targetPos, blogURL, blogName){
		$("ul li:nth-child(" + targetPos + ") div div p a").replaceWith('<a href=' + blogURL + ' target="_blank">' + blogName + '</a>')
	}

	var getRandomPosition = function(maxNumber){
		var maxNumber = maxNumber;
		var numToReplace = Math.floor(Math.random() * maxNumber) + 1;
		return numToReplace;
	}

	spinTheWheel(30);

	$("#wheel-spin").click(function(){
		spinTheWheel(30);
		replacementData = getReplacementImageData("<%= cats_newimage_path %>");
		var maxNum = $('.flipster__item').length;
		randomNum = getRandomPosition(maxNum);

		replaceImage(randomNum, replacementData.image_url);
		replaceBlogInfo(randomNum, 
			replacementData.post_url, 
			replacementData.blog_name)
	});
	
</script>
